
@import "variables.scss";

.auction-container {

    padding: 20px;
    margin-top: 20px;

    h1 {
        margin: 0;
    }
    .current-bid {
        font-family: "Roboto", "Helvetica", sans-serif;
        font-weight: bold;
        font-size: 24px;
        color: $tloa-green;
    }

    .material-icons {
        vertical-align: bottom;
    }

    .description {
        margin-bottom: 10px;
    }
}
