body {
    background-color: #FFFFFF;
}

h1 {
    color: black;
    // font-family: 
}


p {
    font-family: "Times New Roman";
    font-size: 15px;
}

.bold{
	font-weight: bold;
}

#currentBid {
	font-family: "Verdana";
	font-size: 25px;
	color: green;
}

