.card{

  .card-image {

      height:200px;
      overflow: hidden;

      .card-title {
        font-family: "Roboto", "Helvetica", sans-serif;
        font-weight: bold;
        color: white;
        padding-left: 10px;
        padding-bottom: 0;

        .black-text {
          display: block;
        }

        .card-subtitle {
          font-size: 14px;
        }
      }
  }

  .card-content {
    font-family: "Roboto", "Helvetica", sans-serif;
    padding-left: 10px;
  }

  .card-action {
    padding-left: 10px;

    a {
      color: #000;
    }

    a:hover {
      color: $tloa-green;
    }

    .material-icons {
      vertical-align: bottom;
    }
  }

}
