.card{


  .card-image {

  .card-image {

    .card-title {
      font-family: "HammersmithOne", "Helvetica", sans-serif;
      color: white;
      padding: 10px;
    }
  }

  .card-content {
    padding: 10px;
    font-family: "Roboto", "Helvetica", sans-serif;
  }

  .card-action {
    padding: 10px;
  }
}
