.card{

  .card-image {

      .card-title {
        font-family: "Roboto", "Helvetica", sans-serif;
        font-weight: bold;
        color: white;
        padding-left: 10px;

    }
  }

  .card-content {
    font-family: "Roboto", "Helvetica", sans-serif;
    padding-left: 10px;
  }

  .card-action {
    padding-left: 10px;
  }

}

