.edit-customer {

  h4 {
    font-family: "HammersmithOne", "Helvetica", sans-serif;
  }

  .row {

    margin-bottom: 0;


    .header {
      font-family: "Roboto", "Helvetica", sans-serif;
      font-weight: bold;
    }

    .contact {
      color: $tloa-blue;
    }

    .address {
      color: $tloa-yellow;
    }

    .payment {
      color: $tloa-green;
    }

    .input-field {

      padding-left: 0;

      label {
        left: 0;
      }
    }

    .send {
      margin-right: 30px;
    }
  }
}