@import "variables.scss";
@import "editCustomer.scss";

#navBar {
    margin-bottom: 20px;

    .tabs {
        background-color : $tloa-green;
        .tab {
            a {
                color: rgba(255,255,255,0.7);
            }
            a:hover {
                color: white;
            }
        }
    }
}

#customersTab {
    display: block;
}

#mailingListTab {
    .header {
        margin-bottom: 0;
        button {
            margin-top: 1.14rem;
            background-color: $tloa-blue;
        }
    }

    #modalCreateMailingList {
        .user-chips {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            .chip {
                margin: 5px 5px 5px 0;
            }
        }

        .modal-footer {

            .button-left {
                margin-left: 5px;
            }

            .button-right {
                margin-right: 5px;
            }
        }
    }
}