#itemContainer {
    margin-top: 20px;

    .single-item {
        padding: 20px;

        .item-name {
            margin: 0;
        }

        .btn-left {
            margin-right: 15px;
        }

        .btn-right {
            margin-left: 15px;
        }

        .material-icons {
            vertical-align: middle;
        }
    }
}