@import "variables.scss";
@import "editCustomer.scss";
@import "modal_picker.scss";

#navBar {
    margin-bottom: 20px;

    .tabs {
        background-color : $tloa-green;
        .tab {
            a {
                color: rgba(255,255,255,0.7);
            }
            a:hover {
                color: white;
            }
        }
    }
}

#employeesTab {
    margin: 0 0.75rem;
    display: block;

    .modal-footer {
        button {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}

#revenueTab {

    .specific {
        font-family: "Roboto", "Helvetica", sans-serif;
        font-weight: bold;
        margin-top: 1em;
        font-size: 18px;
    }

    td, tr, th {
        text-align: center;
    }

    .selected {
        background-color: #26a69a !important;
    }

    tr:hover {
        background-color: #e3e3e9 !important;
    }

    .input-field {
        margin-top: 0;
    }

    .revenueValues {
        font-size:25px;
        .value {
            font-size : 35px;
            color: $tloa-green;
        }
    }

    .highest-revenue {
        .revenue-topic {
            font-size: 20px;
        }

        .card-image {
            max-height: 200px;
            overflow: hidden;
        }
    }
}

#salesTab {


    input {
        font-size: 2.28rem;;
        border-bottom: none;
    }

    .items {
        .number-sold {
            color: $tloa-green;
            font-size: 40px;
        }

        .items-sold {
            font-size: 20px;
        }
    }

    .popular {
        .popular-item {
            font-size: 20px;
        }

        .item {
            font-size: 40px;
            color: $tloa-blue;
        }
    }
}

#itemsTab {

    #search {
        padding-left: 0;
    }

}