@import "variables.scss";

#navBar {
    .tabs {
        background-color : $tloa-green;
        .tab {
            a {
                color: rgba(255,255,255,0.7);
            }
            a:hover {
                color: white;
            }
        }
    }
}

#employeesTab {
    .card {
        .card-content {

        }
    }
}
