.modal-picker {


  .modal-content {

    table {


      tbody {

        .responsive-img {
          width: 100px;
          height: 100px;
        }
      }

    }
  }


  .modal-footer {

    .btn-left {
      margin-left: 5px;
      margin-right: 5px;
    }

    .btn-right {
      margin-right: 5px;
    }
  }

}