#profileContainer {
    margin-top: 30px;

    .profile-card {
        padding: 20px 10px;

        .profile-and-stats{
            margin-bottom: 0;

            .profile {
                display: flex;
                align-content: center;

                .profileIcon {
                    font-size: 150px;
                    text-align: center;
                    display: flex;

                    .material-icons {
                        font-size: 150px;
                    }
                }

                .greeting {
                    display: flex;
                    flex-flow: column;
                    justify-content: center;

                    h4, h5 {
                        font-family: "HammersmithOne", "Helvetica", sans-serif;
                        margin: 5px;
                    }

                    .button-rating {
                        margin: 5px;

                        .rating {
                            margin-left: 20px;
                            font-size: 24px;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}
