@font-face {
  font-family: "HammersmithOne", "Helvetica", sans-serif;
  src: url("../font/Hammersmith.ttf");
}

@font-face {
  font-family: "Pacifico", "Times New Roman", Serif;
  src: url("../font/Pacifico.ttf");
}

$tloa-green: #4CAF50;
$tloa-red: #EF5350;
$tloa-blue: #42A5F5;
$tloa-yellow: #FFB74D;
