@import "variables.scss";

body, html {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "HammersmithOne", "Helvetica", sans-serif;
  src: url("../font/hammersmith/Hammersmith.ttf"),
       url("../font/hammersmith/Hammersmith.woff");
}

@font-face {
  font-family: "Pacifico", "Times New Roman", Serif;
  src: url("../font/pacifico/Pacifico.ttf"),
       url("../font/pacifico/Pacifico.woff"),
       url("../font/pacifico/Pacifico.woff2");
}

@font-face {
  font-family: "Roboto", "Arial", sans-serif;
  src: url("../font/roboto/Roboto-Regular.ttf"),
       url("../font/roboto/Roboto-Regular.woff"),
       url("../font/roboto/Roboto-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", "Arial", sans-serif;
  src: url("../font/roboto/Roboto-Bold.ttf"),
  url("../font/roboto/Roboto-Bold.woff"),
  url("../font/roboto/Roboto-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

h1 {
  font-family: "HammersmithOne", "Helvetica", sans-serif;
  font-size: 48px;
}

h3 {
  font-family: "HammersmithOne", "Helvetica", sans-serif;
}

.login-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top:0px;
    left:0px;
    background: rgba(0,0,0,0.4);
    z-index:999;
    .login-card {
        padding: 20px;
        .closeButton {
            float: right;
        }
    }
}



@media only screen and (min-width:993px) {
    .container{
        width: 90%;
    }
}

@media only screen and (min-width:610px) {
    .container{
        width: 90%;
    }
}

.bold{
	font-weight: bold;
}

.green-text {
    color:$tloa-green;
}

@import "navbar.scss";
@import "cards.scss";
@import "fab.scss";
@import "imageScroller.scss";
@import "editCustomer.scss";
@import "index.scss";